html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 32px;
  }
}

body {
    background-color: #00157e;
    width: 100%;
    height: 100%;
}

h1{
    color:white;
}

#information {
    padding: 2rem 2rem 0 2rem;

}

#information p{
    color:white;
}

table {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;

}

td, th {
    border-bottom: 2px solid #4554a1;
}

td {
    font-weight: 400;
    font-size: 2em;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

th {
    padding-top: 12px;
    color: white;
}

th:nth-child(4), th:nth-child(5), td:nth-child(4), td:nth-child(5) {
    text-align: right
}

th:nth-child(6) {
    padding-left: 2rem;
}

td:nth-child(6) {
    color: yellow;
    padding-left: 2rem;
}

#graybackground {
    display: none;
    position: absolute;
    min-height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}

#settings {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    /* Prevent background color leak outs */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;


}

.form {
    display: flex;
    flex-direction: column;
}

input{
    width: 500px;
    margin-bottom: 1.25rem;
}

input:nth-child(1){
    max-width: 80px;
}

.buttons{
    display:flex;
    justify-content:space-between;
}

button {
    border-radius: 10px;
    border: none;
    background-color: #EDEDED;
    padding: .2em 1em .2em 1em;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

#submit {
    background-color: #00157e;
    color:white;
}

.interval {
    display: flex;
    margin-bottom: 1.25rem;
}

.interval input, .interval p {
    margin-bottom: 0;
    margin-right: .5em;
    margin-top: auto
}

    .interval button {
        padding: .25em;
        width: 60px;
        margin-right: .5em;
        color:white;
        background-color: #00157e;
    }

/*CLOCK*/

.clock {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

    .clock div {
        position: absolute;
        z-index: -1;
    }

.clock-component {
    left: 110px;
    top: 110px;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}

.clock-face {
    background-color: white;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.hr-markers {
    bottom: 50%;
    left: 50%;
}

    .hr-markers div {
        background-color: black;
        height: 14px;
        transform-origin: 50% 67px;
        width: 4px;
    }

.min-markers {
    bottom: 50%;
    left: 50%;
}

    .min-markers div {
        background-color: black;
        height: 4px;
        transform-origin: 50% 67px;
        width: 2px;
    }

.hr-markers div:nth-child(1) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ( 30deg);
}

.hr-markers div:nth-child(2) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ( 60deg);
}

.hr-markers div:nth-child(3) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ( 90deg);
}

.hr-markers div:nth-child(4) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(120deg);
}

.hr-markers div:nth-child(5) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(150deg);
}

.hr-markers div:nth-child(6) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(180deg);
}

.hr-markers div:nth-child(7) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(210deg);
}

.hr-markers div:nth-child(8) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(240deg);
}

.hr-markers div:nth-child(9) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(270deg);
}

.hr-markers div:nth-child(10) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(300deg);
}

.hr-markers div:nth-child(11) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ(330deg);
}

.hr-markers div:nth-child(12) {
    transform: translate(-50%, -50%) translate(0, -60px) rotateZ( 0deg);
}

.min-markers div:nth-child(1) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 6deg);
}

.min-markers div:nth-child(2) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 12deg);
}

.min-markers div:nth-child(3) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 18deg);
}

.min-markers div:nth-child(4) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 24deg);
}

.min-markers div:nth-child(5) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 36deg);
}

.min-markers div:nth-child(6) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 42deg);
}

.min-markers div:nth-child(7) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 48deg);
}

.min-markers div:nth-child(8) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 54deg);
}

.min-markers div:nth-child(9) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 66deg);
}

.min-markers div:nth-child(10) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 72deg);
}

.min-markers div:nth-child(11) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 78deg);
}

.min-markers div:nth-child(12) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 84deg);
}

.min-markers div:nth-child(13) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ( 96deg);
}

.min-markers div:nth-child(14) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(102deg);
}

.min-markers div:nth-child(15) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(108deg);
}

.min-markers div:nth-child(16) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(114deg);
}

.min-markers div:nth-child(17) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(126deg);
}

.min-markers div:nth-child(18) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(132deg);
}

.min-markers div:nth-child(19) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(138deg);
}

.min-markers div:nth-child(20) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(144deg);
}

.min-markers div:nth-child(21) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(156deg);
}

.min-markers div:nth-child(22) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(162deg);
}

.min-markers div:nth-child(23) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(168deg);
}

.min-markers div:nth-child(24) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(174deg);
}

.min-markers div:nth-child(25) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(186deg);
}

.min-markers div:nth-child(26) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(192deg);
}

.min-markers div:nth-child(27) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(198deg);
}

.min-markers div:nth-child(28) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(204deg);
}

.min-markers div:nth-child(29) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(216deg);
}

.min-markers div:nth-child(30) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(222deg);
}

.min-markers div:nth-child(31) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(228deg);
}

.min-markers div:nth-child(32) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(234deg);
}

.min-markers div:nth-child(33) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(246deg);
}

.min-markers div:nth-child(34) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(252deg);
}

.min-markers div:nth-child(35) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(258deg);
}

.min-markers div:nth-child(36) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(264deg);
}

.min-markers div:nth-child(37) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(276deg);
}

.min-markers div:nth-child(38) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(282deg);
}

.min-markers div:nth-child(39) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(288deg);
}

.min-markers div:nth-child(40) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(294deg);
}

.min-markers div:nth-child(41) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(306deg);
}

.min-markers div:nth-child(42) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(312deg);
}

.min-markers div:nth-child(43) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(318deg);
}

.min-markers div:nth-child(44) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(324deg);
}

.min-markers div:nth-child(45) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(336deg);
}

.min-markers div:nth-child(46) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(342deg);
}

.min-markers div:nth-child(47) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(348deg);
}

.min-markers div:nth-child(48) {
    transform: translate(-50%, -50%) translate(0, -65px) rotateZ(354deg);
}

.hand {
    bottom: 50%;
    left: 50%;
}

.hr-hand {
    background-color: black;
    height: 64px;
    transform: translate(-50%, 32px);
    transform-origin: 50% 48px;
    width: 8px;
}

.min-hand {
    background-color: black;
    height: 80px;
    transform: translate(-50%, 32px);
    transform-origin: 50% 65px;
    width: 6px;
}

.sec-hand {
    background-color: #d00;
    height: 68px;
    transform: translate(-50%, 40px);
    transform-origin: 50% 48px;
    width: 2px;
}

.sec-hand-ball {
    background-color: #d00;
    border-radius: 50%;
    height: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    width: 10px;
}

.pin {
    background-color: #d00;
    border-radius: 50%;
    height: 9px;
    width: 9px;
}
    