@{
}
<form method="get" action="@Url.Action()">
    <label for="stop">Stop:</label>
    <input type="text" name="stop" id="stop" required>
    <br>
    <label for="limit">Limit:</label>
    <input type="number" name="limit" id="limit" value="2" required>
    <br>
    <label for="interval">Refresh interval (seconds):</label>
    <input type="number" name="interval" id="interval" value="60" required>
    <br>
    <button type="submit">Show Connections</button>
</form>

<div id="information"></div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            let params = new URLSearchParams(location.search);
            if(params.get('interval') > 0){
                setInterval(function () {
                    $.ajax({
                        url: '@Url.Action("GetConnections")',
                        data: { stop: params.get('stop'), limit: params.get('limit') },
                        success: function (result) {
                            $('#information').html(result);
                        }
                    });
                }, params.get('interval') * 1000);
            }
        });

    </script>
}
